version: "3"
services:
  orion:
    image: fiware/orion
    ports:
      - "1026:1026"
    command: -logLevel DEBUG -noCache -dbhost mongo

  mongo:
    image: mongo:4.4
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

  quantumleap:
    image: smartsdk/quantumleap
    ports:
      - "8668:8668"
    depends_on:
      - mongo
      - orion
      - crate
    environment:
      - CRATE_HOST=crate

  crate:
    image: crate
    ports:
      - "4200:4200"
    volumes:
      - cratedata:/data

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      - "GF_SECURITY_ADMIN_PASSWORD=admin"  # Cambia según tus preferencias
    depends_on:
      - quantumleap
    volumes:
      - grafana:/var/lib/grafanaó

  iotagent:
    image: fiware/iotagent-ul
    ports:
      - "4041:4041"
    volumes:
      - ./iot-agent-config:/opt/iotagent-ul/config
    depends_on:
      - orion
    networks:
      - default

volumes:
  mongodata:
  cratedata:
  grafana:
